.ExpenseStyle {
    display: flex;
    overflow: auto;
}

.innerStyle {
    padding: 2rem 1.5rem;
    width: 100%;
}

.total-expense {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1edf9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    gap: .5rem;
}

.total-expense span {
    font-size: 2.5rem;
    font-weight: 800;
    color: red;
}

.expense-content {
    display: flex;
    gap: 2rem;
}

.expenses {
    margin-left: 200px;
}

.expense-content .expenses {
    flex: 1;
}

.error-message {
    color: red;
    font-weight: bold;
}

/* Hidden scrollbar */
.expenseStyle {
    display: flex;
    overflow-y: scroll;
}

.expenseStyle::-webkit-scrollbar {
    width: 0;
}

.expenseStyle {
    scrollbar-width: none;
}